.introducao-bg {
  background: #eed1af;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem 2.5rem;
}

.introducao-conteudo h1 {
  margin-bottom: 2rem;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

@media (max-width: 800px) {
  .introducao-bg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .introducao-conteudo h1 {
    margin-bottom: 1rem;
  }
  .introducao img {
    max-height: 300px;
    width: 100%;
  }
}
