.produtos-bg {
  background: var(--cor-p1);
  padding-top: 3.75rem;
  padding-bottom: 6.25rem;
}

.produtos-lista h2 {
  margin-bottom: 2.5rem;
}

.produtos-lista ul {
  display: flex;
  gap: 2.5rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.produtos-lista li {
  flex: 1;
  min-width: 17rem;
}

.produtos-lista a {
  display: block;
}

.produtos-lista img {
  margin-bottom: 1rem;
}

.produtos-lista h3 {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.produtos-lista h3::before {
  content: "";
  display: inline-block;
  height: 0.5rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-color: var(--cor-p3);
  transition: width 0.2s;
}

.produtos-lista a:hover h3::before {
  width: 1.5rem;
}

.produtos-lista li span {
  padding-left: 1.25rem;
}
.produtos-lista li p {
  padding-left: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

@media (max-width: 800px) {
  .produtos-bg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .produtos-lista ul {
    gap: 1.25rem;
  }
}
